@page "/"
@using AmidPortfolio.Components.Sections
@inject NavigationService NavigationService
@implements IAsyncDisposable


<PageTitle>MelfmidLabs</PageTitle>

<div class="hero-background"></div>

<div class="main-section">
    <section id="home" class="hero-section">
        <HeroSection />
    </section>

    <section id="about" class="about-section" style="padding-bottom:10%;">
          <AboutSection/>
    </section>

    <section id="portfolio" class="portfolio-section">
         <PortfolioShowcaseSection/>
    </section>

    <section id="contact" class="contact-section">
         <ContactSection />
    </section>

    <section id="footer" class="footer-section">
        <FooterSection />
    </section>
</div>

<MudScrollToTop>
    <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp"
            Style="@($"""
                background:{GradientService.CurrentTheme.Background};
                color:white;
                box-shadow:0 0 20px {GradientService.CurrentTheme.ShadowRgba};
            """)"
            Size="Size.Medium" />
</MudScrollToTop>

<style>
    .main-section{
        margin-left:10%;
        margin-right:10%;
        overflow: hidden;
    }

    .hero-section {
        display: flex;
        margin-top:7%;
        min-height: 100vh;
        scroll-margin-top: 200px;
    }


    .portfolio-section {
        
        min-height: 100vh;
        scroll-margin-top: 100px;
    }

    .about-section{
        scroll-margin-top: 100px;
    }


    .contact-section{
        scroll-margin-top: 100px;
        margin-top: 30px;
        min-height: 80vh;
    }

    .footer-section{
        margin-bottom: 20px;
    }
    @@media (max-width:768px) {

        .main-section {
            margin:0;
            padding-left:10px;
            padding-right: 10px;
        }

        .about-section {
       
            margin-top: 30px;
        }

        .portfolio-section {
            margin-top: 30px;
        }

       
    }
</style>

@code {

    private DotNetObjectReference<Home>? _objRef;

     protected override void OnInitialized()
    {
        GradientService.OnChange += Refresh;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeAOS");

            _objRef = DotNetObjectReference.Create(this);

            await JS.InvokeVoidAsync(
                "observeSections",
                _objRef);
        }
        else
        {
            await JS.InvokeVoidAsync("refreshAOS");
        }
    }

    [JSInvokable]
    public void UpdateActiveSection(string sectionId)
    {
        NavigationService.SetActiveSection(sectionId);
    }

    private void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        _objRef?.Dispose();
        GradientService.OnChange -= Refresh;
    }
}
